/*
Author         : G-axon
Template Name  :  Admin Dashboard
Version        : 1.0
*/
/*=============================================================
    Table of Contents:
    =============================
    A. Globals
        01. Custom Animation
    B. Base
        01. Base Styles
        02. Typography Styles
    C. Layouts
        01. App Layout Styles
        02. Sidebar Styles
        03. Header Styles
        04. Main Content Styles
        05. Footer Styles
        06. Right Sidebar Styles
    D. UI Components
        01. Alert Styles
        02. Avatar Styles
        03. Badges Styles
        04. Blockquotes Styles
        05. Bottom Navigation Styles
        06. Breadcrumb Styles
        07. Button Styles
        08. Button Group Styles
        09. Callout Styles
        10. Cards Styles
        11. Charts Styles
        12. Chips Styles
        13. Carousel Styles
        14. Color Picker Styles
        15. Drawer Styles
        16. E-commerce Styles
        17. Grids List Styles
        18. Icons Styles
        19. Label Styles
        20. List Styles
        21. Nav Style
        22. Pricing Styles
        23. Progressbar Styles
        24. Popover Styles
        25. React Joyride Styles
        26. Tables Styles
        27. Tabs Styles
        28. Testimonial Styles
        29. Time Lines Style
        30. Joyride Tour Styles
        31. Form Styles
    E. Pages
        01. Login Styles
        02. Error Styles
        03. Editor Styles
        04. Contact Page Styles
        05. Portfolio Styles
        06. Faqs Styles
        07. Dashboard Styles
    F. Slider
    G. Modules
        01. App Module Style
        02. Chat Module Styles
        03. Mails Module Styles
        04. Contact Module Styles
        05. Calendar Module Style
    H. Color Theme
        01. Theme Indigo Styles
        02. Theme Cyan Styles
        03. Theme Amber Styles
        04. Theme Deep Orange Styles
        05. Theme Pink Styles
        06. Theme Blue Styles
        07. Theme Deep Purple Styles
        08. Theme Green Styles
        09. Theme Dark Indigo Styles
        10. Theme Dark Cyan Styles
        11. Theme Dark Amber Styles
        12. Theme Dark Deep Orange Styles
        13. Theme Dark Pink Styles
        14. Theme Dark Blue Styles
        15. Theme Dark Deep Purple Styles
        16. Theme Dark Green Styles
  =============================================================*/

//Custom Variables
@import "global/_global-dir";

//Custom Files
@import "base/_base-dir";
@import "layout/_layout-dir";
@import "ui/_ui-dir";
@import "pages/_pages-dir";
@import "slider/owl-carousel";
@import "module/_module-dir";
@import "colorTheme/_color-theme-dir";
.mtop{
    margin-top:12px;
}

.jr-card,.card,.MuiPaper,.Paper {
    border-radius: 10px!important;
}

.custom-btn{
    padding:15px!important;
    color:white!important;
    margin-left:50px!important;
    width: 117px;
    font-weight: bold;
    height:40px;
 
}
.jr-btn{
    margin-top: 61px!important;
}
.margin-bottom{
    margin-top: 61px!important;
}
.hidden { display:none!important; }
.right{
    float:right;
    margin-bottom:10px!important;
    text-align: right!important;
}
.order table, .order td, .order th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .order table {
    border-collapse: collapse;
    width: 100%!important;
  }
  
  .order th, .order td {
    padding: 15px;
    text-align: center;
  }
  .order_table{
      width:100%;
      margin-left:auto; 
      margin-right:auto;
  }
  .right{
      float:right!important;
      text-align: right!important;
      font-weight: bold;
  }

  .left{
    float:left!important;
    text-align: left!important;
    font-weight: bold;
}
.border{
    border: 2px solid grey;
    padding:30px;
    font-size: 21px;
    width:100%;
}
.font-class{
    font-size: 21px;
}
h2{
    font-weight: bold;
}

.border1{
    border-bottom: 1px solid lightgrey;
    padding:20px;
    margin-left:5px!important;
    font-size: 20px;
}
.center-align{
    text-align: center !important;
    margin-top:20px;
}
.page-header {
    border-bottom: solid 2px #84b245 !important;
}
.link_view_image{
    font-weight: bold!important;;
    margin:10px!important;;
    color:#84b245!important;
}
.profile_section {
    padding: 15px 0px;
  }
  .badge{
      font-size: 15px!important;
      font-weight: bold!important;
  }
  .container {
    background: white;
    min-height: calc(100vh - 121px);
  }
  
  label {
    white-space: nowrap;
  }
  
  input[type="file"] {
    display: none;
  }
  .center{
      text-align: center;
  }
  .custom_icon_size{
      font-size: 20px !important;
  }
  
  .image {
    border: 1px solid lightgreen;
    border-radius: 5px;
    width: 80%;
    height: 250px;
  }

  .single-product-image {
    border: 1px solid lightgreen;
    border-radius: 5px;
    height: 250px;
  }
  
  .custom_file_input {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    color: #2462e8;
  }
  .modelHeight{
    height:600px!important;
    overflow: hidden!important;
  }
  
  .profile {
    margin: 10px;
  }
  
  .pleaseWaitOption{
    display:none;
  }
  .kyc {
    padding-left: 15px;
  }
  
  .control-label {
    margin-top: 12px;
    color: #000422;
    font-weight: 500;
  }
  
  p {
    color: black;
  }
  
  input:focus, input:hover {
    background: none !important;
  }
  
  .custom_width{
    /* width: 98%; */
  }
  .dark-indigo .bg-gradient-primary-x {
    background-image: linear-gradient(90deg,#4CAF50  70%,#4CAF50);
    background-repeat: repeat-x;
  }
  .line-space{
    line-height: 42px;
  }
  .card_margin{
    margin-left:70px;
  }

  .font-weight-light{
    font-size: 19px!important;
    font-weight: bold!important;
  }